@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Importa Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* remove barras horizontais totalmente */
.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.cursor-grab * {
  cursor: grab !important;
}

.cursor-grabbing * {
  cursor: grabbing !important;
}

/* Scrollbar estilizada — apenas desktop */
@media (min-width: 768px) {
  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #bfbfbf #000000; /* cor da barra e do fundo */
  }

  .scrollbar-custom::-webkit-scrollbar {
    height: 12px; /* altura da barra horizontal */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #000; /* fundo */
    border-radius: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #bfbfbf; /* cor da barrinha */
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #b5ac10; /* hover mais escuro */
  }
}
